.popup__container_for_tooltip {
    width: 430px;
    height: 330px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 625px) {
    .popup__container_for_tooltip {
        min-width: 280px;
        min-height: 308px;
        height: auto;
    }
}